Makefile
/parrot
/install
.*.swp
*.o
*.so
*.RES
*.res
*.ilk
*.obj
*.rc
*.dll
*.dll.a
*.manifest
*.exp
*.lib
*.pdb
*.dump
*.exe
*.suo
*.bundle
*~
*.pbc
src/vm/parrot/ops/*.h
src/vm/parrot/ops/*.c
src/vm/parrot/pmc/pmc_*.h
src/vm/parrot/pmc/*.c
/nqp
nqp.c
nqp_group.c
nqp_group.h
src/gen/*.pir
src/gen/*.nqp
src/gen/*.pm
src/gen/*.setting
src/stage1
src/stage2
config.status
config.default
3rdparty/dyncall/ConfigVars
3rdparty/dyncall/*/*.a
/nqp_const.pir
bin
nqp-runtime.jar
*.class
*.jar
/nqp.bat
/nqp.sh
/jvmconfig.properties
*.moarvm
