Makefile
/parrot
/parrot_install
.*.swp
*.o
*.RES
*.ilk
*.obj
*.rc
*.dll
*.manifest
*.exp
*.lib
*.pdb
*.dump
src/pmc/pmc_*.h
src/pmc/*.c
Regex.pbc
HLL.pbc
P6Regex
P6Regex.pbc
nqp
nqp.c
nqp_group.c
nqp_group.h
nqp.pbc
nqp-setting.pbc
src/gen/*.pir
src/gen/*.nqp
src/stage1
src/stage2
