Makefile
/install
.*.swp
*.o
*.so
*.RES
*.res
*.ilk
*.obj
*.rc
*.dll
*.dll.a
*.manifest
*.exp
*.lib
*.pdb
*.dump
*.exe
*.suo
*.bundle
*~
/nqp
/*.html
config.status
config.default
node_modules
nqp-runtime.jar
*.class
*.jar
/nqp-j
/nqp-p
/nqp-m
/nqp-js
/nqp-js-cross
/nqp-j.bat
/nqp-p.bat
/nqp-m.bat
/nqp-js.bat
/nqp-js-cross.bat
/jvmconfig.properties
/*.moarvm
MoarVM
MANIFEST
/bin
/nqp.bat
package-lock.json
