<!DOCTYPE html>
<html lang="en" ng-app="moarProfApp" ng-controller="NavigationController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoarVM Profiler Results</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
    body {
      min-height: 500px;
      padding-top: 70px;
    }
    </style>
  </head>
  <body >
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">MoarVM Profiler Results</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="Tab == 'Overview' ? 'active' : ''"><a href="#overview" ng-click="Tab = 'Overview'">Overview</a></li>
            <li ng-class="Tab == 'Routines' ? 'active' : ''"><a href="#routines" ng-click="Tab = 'Routines'">Routines</a></li>
            <li ng-class="Tab == 'Call Graph' ? 'active' : ''"><a href="#callgraph" ng-click="Tab = 'Call Graph'">Call Graph</a></li>
            <li ng-class="Tab == 'Allocations' ? 'active' : ''"><a href="#allocations" ng-click="Tab = 'Allocations'">Allocations</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" ng-show="Tab == 'Overview'">

    </div>
  
    <div class="container" ng-show="Tab == 'Routines'">
      <div ng-controller="RoutinesController">
      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <th>
            <a href="" ng-click="reverse = predicate == 'Name' ? !reverse : false; predicate = 'Name';">Name</a>
            <input ng-model="NameFilter">
          </th>
          <th><a href="" ng-click="reverse = predicate == 'Entries' ? !reverse : true; predicate = 'Entries';">Entries</a></th>
          <th><a href="" ng-click="reverse = predicate == 'InclusiveTimePercent' ? !reverse : true; predicate = 'InclusiveTimePercent';">Inclusive Time</a></th>
          <th><a href="" ng-click="reverse = predicate == 'ExclusiveTimePercent' ? !reverse : true; predicate = 'ExclusiveTimePercent';">Exclusive Time</a></th>
          <th>
            <span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Unoptimized interpreted code">Interp</span> /
            <span class="text-warning" data-toggle="tooltip" data-placement="bottom" title="Type-specialized interpreted code">Spesh</span> /
            <span class="text-success" data-toggle="tooltip" data-placement="bottom" title="Type-specialized, JIT-compiled code">JIT</span>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="routine in Routines | filter:NameFilter | orderBy:predicate:reverse">
            <td><strong>{{routine.Name}}</strong></td>
            <td>{{routine.Entries}}</td>
            <td>
              <div class="pull-left" style="width: 70px">
                <div class="progress" style="width: 60px">
                  <div class="progress-bar" role="progressbar" style="width: {{routine.InclusiveTimePercent}}%;">
                  </div>
                </div>
              </div>
              <div>
                <strong>{{routine.InclusiveTimePercent}}%</strong>
               ({{routine.InclusiveTime}}ms)
              </div>
            </td>
            <td>
              <div class="pull-left" style="width: 70px">
                <div class="progress" style="width: 60px">
                  <div class="progress-bar" role="progressbar" style="width: {{routine.ExclusiveTimePercent}}%;">
                  </div>
                </div>
              </div>
              <div>
                <strong>{{routine.ExclusiveTimePercent}}%</strong>
               ({{routine.ExclusiveTime}}ms)
              </div>
            </td>
            <td>
              <div class="progress" style="width: 100px">
                <div class="progress-bar progress-bar-danger" style="width: {{routine.InterpEntriesPercent}}%">
                </div>
                <div class="progress-bar progress-bar-warning" style="width: {{routine.SpeshEntriesPercent}}%">
                </div>
                <div class="progress-bar progress-bar-success" style="width: {{routine.JITEntriesPercent}}%">
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <div class="container" ng-show="Tab == 'Call Graph'">
      <div ng-controller="CallGraphController">

        <ol class="breadcrumb">
          <li><strong>Callers:</strong></li>
          <li ng-show="RecentCallers.length == 0"><em>None</em></li>
          <li ng-repeat="caller in RecentCallers">
            <a href="" ng-click="toCaller(caller)">
              {{caller.name == '' ? '&lt;anon&gt;' : caller.name}}
            </a>
          </li>
        </ol>

        <h3>{{Current.name == '' ? '&lt;anon&gt;' : Current.name}}</h3>
          
        <div class="panel panel-default">
          <div class="panel-heading">Callees</div>
          <table class="table table-striped table-condensed table-bordered" ng-show="Callees.length > 0">
            <thead>
              <th>
                <a href="" ng-click="reverse = predicate == 'Name' ? !reverse : false; predicate = 'Name';">Name</a>
                <input ng-model="NameFilter">
              </th>
              <th><a href="" ng-click="reverse = predicate == 'Calls' ? !reverse : true; predicate = 'Calls';">Calls</a></th>
              <th><a href="" ng-click="reverse = predicate == 'TimePercent' ? !reverse : true; predicate = 'TimePercent';">Time In Callee</a></th>
              <th>
                <span class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Unoptimized interpreted code">Interp</span> /
                <span class="text-warning" data-toggle="tooltip" data-placement="bottom" title="Type-specialized interpreted code">Spesh</span> /
                <span class="text-success" data-toggle="tooltip" data-placement="bottom" title="Type-specialized, JIT-compiled code">JIT</span>
              </th>
              <th>
                <span data-toggle="tooltip" data-placement="bottom" title="Code from this callee was flattened into the routine by the optimizer">Inlined</span>
              </th>
            </thead>
            <tbody>
              <tr ng-repeat="callee in Callees | filter:NameFilter | orderBy:predicate:reverse">
                <td><strong><a href="" ng-click="toCallee(callee.Node)">{{callee.Name}}</a></strong></td>
                <td>{{callee.Calls}}</td>
                <td>
                  <div class="pull-left" style="width: 70px">
                    <div class="progress" style="width: 60px">
                      <div class="progress-bar" role="progressbar" style="width: {{callee.TimePercent}}%;">
                      </div>
                    </div>
                  </div>
                  <div>
                    <strong>{{callee.TimePercent}}%</strong>
                   ({{callee.Time}}ms)
                  </div>
                </td>
                <td>
                  <div class="progress" style="width: 100px">
                    <div class="progress-bar progress-bar-danger" style="width: {{callee.InterpCallsPercent}}%">
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: {{callee.SpeshCallsPercent}}%">
                    </div>
                    <div class="progress-bar progress-bar-success" style="width: {{callee.JITCallsPercent}}%">
                    </div>
                  </div>
                </td>
                <td>
                  <div ng-show="callee.VeryInline">
                    <span class="text-success">
                      <span class="glyphicon glyphicon-star"></span>
                    </span>
                    {{callee.InlinedPercent}}%
                  </div>
                  <div ng-show="callee.SometimesInline">
                    <span class="text-muted">
                      <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                    {{callee.InlinedPercent}}%
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="panel-body" ng-show="Callees.length == 0">
            This code has no callees.
          </div>
        </div>

      </div>
    </div>

    <div class="container" ng-show="Tab == 'Allocations'">
      <div ng-controller="AllocationsController">
      <table class="table table-striped table-condensed table-bordered">
        <thead>
          <th>
            <a href="" ng-click="reverse = predicate == 'Name' ? !reverse : false; predicate = 'Name';">Name</a>
            <input ng-model="NameFilter">
          </th>
          <th><a href="" ng-click="reverse = predicate == 'Allocations' ? !reverse : true; predicate = 'Allocations';">Allocations</a></th>
        </thead>
        <tbody>
          <tr ng-repeat="alloc in AllocationSummary | filter:NameFilter | orderBy:predicate:reverse">
            <td><strong>{{alloc.Name}}</strong></td>
            <td>
              <div class="pull-left" style="width: 210px">
                <div class="progress" style="width: 200px">
                  <div class="progress-bar" role="progressbar" style="width: {{alloc.AllocationsPercent}}%;">
                  </div>
                </div>
              </div>
              <div>
                {{alloc.Allocations}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script>
    var rawData = JSON.parse('{{{PROFIELR_OUTPUT}}}');

    var moarProfApp = angular.module('moarProfApp', []);

    moarProfApp.controller('NavigationController', function ($scope) {
        $scope.Tab = 'Overview';
    });
    
    moarProfApp.controller('RoutinesController', function ($scope) {
        // Walk call graph to build data.        
        var idToName         = {};
        var idToEntries      = {};
        var idToSpeshEntries = {};
        var idToJITEntries   = {};
        var idToExclusive    = {};
        var idToInclusive    = {};
        var idRecDepth       = {};
        var totalExclusive   = 0;
        var totalInclusive   = rawData[0].call_graph.inclusive_time / 1000;
        function walkCallGraphNode(node) {
            if (!idToName[node.id]) {
                idToName[node.id]         = node.name == "" ? "<anon>" : node.name;
                idToEntries[node.id]      = 0;
                idToSpeshEntries[node.id] = 0;
                idToJITEntries[node.id]   = 0;
                idToExclusive[node.id]    = 0;
                idToInclusive[node.id]    = 0;
                idRecDepth[node.id]       = 0;
            }
            idToEntries[node.id]      += node.entries;
            idToSpeshEntries[node.id] += node.spesh_entries;
            idToJITEntries[node.id]   += node.jit_entries;
            idToExclusive[node.id]    += node.exclusive_time / 1000;
            totalExclusive            += node.exclusive_time / 1000;
            if (idRecDepth[node.id] == 0)
                idToInclusive[node.id] += node.inclusive_time / 1000;
            if (node.callees) {
                idRecDepth[node.id]++;
                node.callees.map(walkCallGraphNode);
                idRecDepth[node.id]--;
            }
        }
        walkCallGraphNode(rawData[0].call_graph);
    
        // Build object list per routine.
        var routineList = [];
        for (id in idToName) {
            var speshEntriesPercent  = +(100 * idToSpeshEntries[id] / idToEntries[id]).toFixed(2);
            var jitEntriesPercent    = +(100 * idToJITEntries[id] / idToEntries[id]).toFixed(2);
            var interpEntriesPercent = 100 - (speshEntriesPercent + jitEntriesPercent);
            var entry = {
                Name:                 idToName[id],
                Entries:              idToEntries[id],
                InterpEntriesPercent: interpEntriesPercent,
                SpeshEntriesPercent:  speshEntriesPercent,
                JITEntriesPercent:    jitEntriesPercent,
                InclusiveTime:        +(idToInclusive[id] / 1000).toFixed(2),
                InclusiveTimePercent: +(100 * idToInclusive[id] / totalInclusive).toFixed(2),
                ExclusiveTime:        +(idToExclusive[id] / 1000).toFixed(2),
                ExclusiveTimePercent: +(100 * idToExclusive[id] / totalExclusive).toFixed(2)
            };
            routineList.push(entry);
        }
        $scope.Routines  = routineList;
        $scope.predicate = "InclusiveTimePercent";
        $scope.reverse   = true;
    });
    
    moarProfApp.controller('CallGraphController', function ($scope) {
        $scope.Current       = rawData[0].call_graph;
        $scope.SuchCallers   = false;
        $scope.RecentCallers = [];
        $scope.Callees       = calleesOf($scope.Current);
        $scope.predicate     = "TimePercent";
        $scope.reverse       = true;
        var all_callers      = [];

        $scope.toCallee = function (callee) {
            // Update caller history.
            all_callers.push($scope.Current);
            $scope.RecentCallers.push($scope.Current);
            if ($scope.RecentCallers.length > 5)
                $scope.RecentCallers.shift();

            // Update current node and callees.
            $scope.Current = callee;
            $scope.Callees = calleesOf(callee);
        };

        $scope.toCaller = function (caller) {
            // Update caller history.
            while (all_callers.length > 0) {
                var removed = all_callers.pop();
                if ($scope.RecentCallers.length > 0)
                    $scope.RecentCallers.pop();
                if (removed == caller)
                    break;
            }
            if (all_callers.length > $scope.RecentCallers.length) {
                var ptr = all_callers.length - $scope.RecentCallers.length;
                while (ptr >= 0 && $scope.RecentCallers.length < 5) {
                    $scope.RecentCallers.unshift(all_callers[ptr]);
                    ptr--;
                }
            }

            // Update current node and callees.
            $scope.Current = caller;
            $scope.Callees = calleesOf(caller);
        }

        function calleesOf(node) {
            if (!node.callees)
                return [];

            var totalExclusive = 0.0;
            node.callees.map(function (c) { totalExclusive += c.exclusive_time / 1000; });

            return node.callees.map(function (c) {
                var speshCallsPercent  = +(100 * c.spesh_entries / c.entries).toFixed(2);
                var jitCallsPercent    = +(100 * c.jit_entries / c.entries).toFixed(2);
                var interpCallsPercent = 100 - (speshCallsPercent + jitCallsPercent);
                var inlinedPercent     = +(100 * c.inlined_entries / c.entries).toFixed(2);
                return {
                    Name:               c.name == "" ? "<anon>" : c.name,
                    Calls:              c.entries,
                    Time:               +(c.inclusive_time / 1000).toFixed(2),
                    TimePercent:        +(100 * c.inclusive_time / node.inclusive_time).toFixed(2),
                    InterpCallsPercent: interpCallsPercent,
                    SpeshCallsPercent:  speshCallsPercent,
                    JITCallsPercent:    jitCallsPercent,
                    InlinedPercent:     inlinedPercent,
                    VeryInline:         inlinedPercent >= 95,
                    SometimesInline:    inlinedPercent < 95 && inlinedPercent > 10,
                    Node:               c
                };
            });
        }
    });

    moarProfApp.controller('AllocationsController', function ($scope) {
        // Traverse all call nodes, counting up the allocations.
        var typeIdToName        = {};
        var typeIdToAllocations = {};
        var maxAllocations      = 1;
        function walkCallGraphNode(node) {
            node.allocations.map(function (alloc) {
                if (!typeIdToName[alloc.id]) {
                    typeIdToName[alloc.id]        = alloc.type == "" ? "<anon>" : alloc.type;
                    typeIdToAllocations[alloc.id] = 0;
                }
                typeIdToAllocations[alloc.id] += alloc.count;
                if (typeIdToAllocations[alloc.id] > maxAllocations)
                    maxAllocations = typeIdToAllocations[alloc.id];
            });
            if (node.callees) {
                node.callees.map(walkCallGraphNode);
            }
        }
        walkCallGraphNode(rawData[0].call_graph);

        // Build allocation summary.
        var allocationSummary = [];
        for (id in typeIdToName) {
            var entry = {
                Name:                 typeIdToName[id],
                Allocations:          typeIdToAllocations[id],
                AllocationsPercent:   +(100 * typeIdToAllocations[id] / maxAllocations).toFixed(2)
            };
            allocationSummary.push(entry);
        }
        $scope.AllocationSummary = allocationSummary;
        $scope.predicate         = "Allocations";
        $scope.reverse           = true;
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
  </body>
</html>
